doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/lib/bootstrap/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='container')
      block content

    script(src='/javascripts/lib/jquery-3.3.1.min.js')
    script(src='/javascripts/lib/popper.min.js')
    script(src='/javascripts/lib/bootstrap/bootstrap.min.js')
    script(src='/javascripts/lib/clipboard.min.js')
    script(src='/javascripts/global.js')

  block script